:root {
  --btn-color: #7baa0b;
  --font-ro: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::selection {
  background: #dcb14a;
  color: #fff;
}
body {
  font-family: var(--font-ro);
}
/* Start Header  */
header {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 1000;
}
header.scrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: head 0.8s ease;
  -webkit-animation: head 0.8s ease;
}
@keyframes head {
  0% {
    height: 0;
  }
  100% {
    height: 110px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  position: relative;
  z-index: 11111;
}
.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 992px) {
  .header ul {
    display: none;
  }
}
.header ul a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.bord {
  border-bottom: 3px solid #000;
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}
.header ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0;
  background-color: #000;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
}
.header ul a:hover::after {
  width: 100%;
}
.btn-header {
  width: 250px;
  height: 60px;
  background: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-header a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.search-filed {
  border: none;
  outline: none;
}
.header-search {
  border-bottom: 1px solid #000;
}
.header-search:hover {
  border-bottom: 1px solid #dcb14a;
}
@media (max-width: 767px) {
  .header-search {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 15px;
  }
  .btn-header {
    width: 150px;
    height: 45px;
  }
  .btn-header a {
    font-size: 15px;
  }
}
/* End Header  */
.containar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.scroll-icon {
  width: 70px;
  height: 70px;
  background: #dcb14a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2%;
  bottom: 5%;
  cursor: pointer;
  z-index: 1111;
  overflow: hidden; /* مهم عشان يقطع الجزء اللي بيطلع برا الدايرة */
}

.scroll-icon i {
  position: relative;
  animation: none;
  font-size: 30px;
  color: #fff;
}

.scroll-icon:hover i {
  animation: loopInOut 1s infinite ease-in-out;
  -webkit-animation: loopInOut 1s infinite ease-in-out;
}

@keyframes loopInOut {
  0% {
    top: 150px; /* خارج الدايرة من الأسفل */
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.ic-sc {
  display: flex;
}
/* start sec demos  */
section {
  width: 100vw;
}
.Demos {
  background-image: url(https://htmldemo.net/helendo/assets/images/preview-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0 180px;
  width: 100%;
  height: 965px;
}
.text-demos {
  transform: translateY(400px);
}
.Demos .text-demos h1 {
  font-size: 110px;
}
.Demos .text-demos p {
  font-size: 30px;
}
.Demos i {
  font-size: 35px;
  color: #999;
  transform: translateY(700px);
  -webkit-transform: translateY(700px);
  -moz-transform: translateY(700px);
  -ms-transform: translateY(700px);
  -o-transform: translateY(700px);
  cursor: pointer;
}
.Pre-built .pre-text {
  padding: 75px 165px;

  line-height: 3.5rem;
}
.pre-text h2 {
  font-size: 36px;
}
.pre-text p {
  font-size: 16px;
  font-weight: 400;
}
.pre-text p span {
  font-weight: 600;
}
.pre-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  justify-items: center;
  gap: 40px;
}
.pre-card a {
  text-decoration-line: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  transition: all 0.3s ease-in-out;
  -moz-text-decoration-line: none;
}
.pre-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.pre-card img {
  width: 400px;
  border: 1px solid #999;
}
.pre-card span {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 45px;
}
.pre-card:hover span {
  border-bottom: 1px solid #999;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Demos {
    padding: 0 15px;
    height: 570px;
  }
  .Demos .text-demos h1 {
    font-size: 55px;
  }
  .Demos .text-demos p {
    font-size: 20px;
  }
  .text-demos {
    transform: translateY(255px);
    -webkit-transform: translateY(255px);
    -moz-transform: translateY(255px);
    -ms-transform: translateY(255px);
    -o-transform: translateY(255px);
  }
  .Demos i {
    transform: translateY(360px);
    -webkit-transform: translateY(360px);
    -moz-transform: translateY(360px);
    -ms-transform: translateY(360px);
    -o-transform: translateY(360px);
  }
  .Pre-built .pre-text {
    padding: 30px;
    line-height: 3.5rem;
  }
  .pre-text h2 {
    font-size: 30px;
    font-weight: 800;
  }
  .pre-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
  .pre-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .pre-card img {
    width: 360px;
    border: 1px solid #999;
  }
  .pre-card span {
    font-size: 16px;
    margin: 0 30px;
  }
}
@media (max-width: 767px) {
  .Demos {
    padding: 0 15px;
    height: 510px;
  }
  .Demos .text-demos h1 {
    font-size: 40px;
  }
  .Demos .text-demos p {
    font-size: 20px;
  }
  .text-demos {
    transform: translateY(170px);
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
  }
  .Demos i {
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
  }
  .Pre-built .pre-text {
    padding: 15px;
    line-height: 3rem;
  }
  .pre-text h2 {
    font-size: 30px;
    font-weight: 800;
  }
  .pre-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
  .pre-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px;
    justify-items: center;
    gap: 30px;
  }
  .pre-card img {
    width: 275px;
    border: 1px solid #999;
  }
  .pre-card span {
    font-size: 16px;
    margin: 0 30px;
  }
}
/* End sec demos  */
/* start sec shop  */
#shop {
  height: 100%;
}
.shop {
  background: #f4f5f7;
  height: 160vh;
}
.shop-text {
  padding: 75px 165px;
  line-height: 3.5rem;
}
.shop-text h2 {
  font-size: 36px;
}
.shop-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.shop p span {
  font-weight: 600;
}
.shop-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 60px;
  justify-items: start;
  gap: 10px;
  width: 100%;
}
.shop-card a {
  text-decoration-line: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease-in-out;
  -moz-text-decoration-line: none;
}
.shop-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.shop-card img {
  width: 280px;
  border: 1px solid #999;
}
.shop-card span {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.shop-card:hover span {
  border-bottom: 1px solid #999;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #shop {
    height: 100%;
  }
  .shop-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .shop-text {
    padding: 30px;
    line-height: 3.5rem;
  }
  .shop-text h2 {
    font-size: 30px;
    font-weight: 800;
  }
  .shop-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  #shop {
    height: 100%;
  }
  .shop {
    height: 100%;
  }
  .shop-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .shop-text {
    padding: 30px;
    line-height: 3rem;
  }
  .shop-text h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 2.2rem;
  }
  .shop-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
  .shop-card span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
/* End sec shop  */
/* Start sec product  */
#product {
  height: 100%;
}
.product {
  height: 160vh;
}
.product-text {
  padding: 75px 165px;
  line-height: 3.5rem;
}
.product-text h2 {
  font-size: 36px;
}
.product-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
.product p span {
  font-weight: 600;
}
.product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 60px;
  justify-items: start;
  gap: 10px;
  width: 100%;
}
.product-card a {
  text-decoration-line: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease-in-out;
  -moz-text-decoration-line: none;
}
.product-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.product-card img {
  width: 280px;
  border: 1px solid #999;
}
.product-card span {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.product-card:hover span {
  border-bottom: 1px solid #999;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #product {
    height: 100%;
  }
  .product-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .product-text {
    padding: 30px;
    line-height: 3.5rem;
  }
  .product-text h2 {
    font-size: 30px;
    font-weight: 800;
  }
  .product-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  #product {
    height: 100%;
  }
  .product-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .product-text {
    padding: 30px;
    line-height: 3rem;
  }
  .product-text h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 2.2rem;
  }
  .product-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
  .product-card span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
/* End sec product  */
/* Start sec blog  */
#blog {
  height: 100%;
}
.blog {
  background: #f4f5f7;
  height: 150vh;
}
.blog-text {
  padding: 75px 165px;
  line-height: 3.5rem;
}
.blog-text h2 {
  font-size: 36px;
  font-weight: 800;
}
.blog-text p {
  font-size: 16px;
  line-height: 2rem;
  font-weight: 400;
}
.blog-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 60px;
  justify-items: start;
  gap: 10px;
  width: 100%;
}
.blog-card a {
  text-decoration-line: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease-in-out;
  -moz-text-decoration-line: none;
}
.blog-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.blog-card img {
  width: 285px;
  border: 1px solid #999;
}
.blog-card span {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-card:hover span {
  border-bottom: 1px solid #999;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #blog {
    height: 100%;
  }
  .blog {
    height: auto;
  }
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .blog-text {
    padding: 30px;
    line-height: 3.5rem;
  }
  .blog-text h2 {
    font-size: 30px;
    font-weight: 800;
  }
  .blog-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  #blog {
    height: 100%;
  }
  .blog {
    height: auto;
  }
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 25px;
    justify-items: center;
    gap: 8px;
  }
  .blog-text {
    padding: 30px;
    line-height: 3rem;
  }
  .blog-text h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 2.2rem;
  }
  .blog-text p {
    font-size: 16px;
    line-height: 2rem;
    font-weight: 400;
  }
  .blog-card span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.footer {
  background-image: url(https://htmldemo.net/helendo/assets/images/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0 180px;
  width: 100%;
  height: 700px;
}
.footer-text {
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer-text h1 {
  font-size: 50px;
  font-weight: 700;
}
.footer-text p {
  font-size: 30px;
}
.footer-btn {
  width: 250px;
  height: 60px;
  background: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-btn a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
.footer a {
  font-size: 18px;
  text-decoration-line: none;
  color: #000;
  font-weight: 600;
  -moz-text-decoration-line: none;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 30px;
    height: auto;
  }

  .footer-text {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .footer-text h1 {
    font-size: 25px;
    font-weight: 700;
  }
  .footer-text p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 30px;
    height: auto;
  }
  .footer-text {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 65px;
  }
  .footer-text h1 {
    font-size: 23px;
    font-weight: 700;
  }
  .footer-text p {
    font-size: 16px;
  }
  .footer-btn {
    width: 200px;
    height: 50px;
    background: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-btn a {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
  }
}
/* End sec blog  */

/* Start in page 2 */
/* Start header in page 2 */
.header-page2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.header-page2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 992px) {
  .header-page2 ul {
    display: none;
  }
}
.header-page2 ul a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.header-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
.header-icons i {
  font-size: 25px;
  cursor: pointer;
}
.header-icons i:hover {
  color: #dcb14a;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.active-link {
  color: #dcb14a;
  text-decoration-line: none;
}
.ul-shop {
  background: #ffffff;
  display: none;
  flex-direction: column;
  width: calc(100% + 35px);
  height: 0%;
  transform: translateX(-35px);
  transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}
.ul-show {
  height: 100%;
  display: flex;
}
.bar-in-click {
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  height: 100vh;
  padding: 35px;
  line-height: 2.5em;
  overflow-y: scroll;
  box-shadow: -20px 0px 150px 1000px #00000073;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}
.bar-in-click.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bar-in-click {
    width: 60%;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .header-page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5px;
  }
  .bar-in-click {
    width: 90%;
    padding: 5px;
  }
}
.bar-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.bar-x-icon {
  margin: 15px 0;
}
.bar-in-click i {
  font-size: 30px;
  cursor: pointer;
}
.lan-cur {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;
}
.language a:not(.active-link) {
  text-decoration-line: none;
  color: #999;
  -moz-text-decoration-line: none;
}
.Currencies a:not(.active-link) {
  text-decoration-line: none;
  color: #999;
}
.language a:hover {
  color: #dcb14a;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.Currencies a:hover {
  color: #dcb14a;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.language,
.Currencies {
  display: flex;
  flex-direction: column;
}
.nav-bar-links ul {
  list-style: none;
}
.nav-bar-links ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-links ul li a {
  font-weight: 600;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  color: #000;
}
.nav-bar-links ul li a:hover {
  color: #999;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.nav-bar-links ul li span i {
  font-size: 15px;
}
.nav-Contact p {
  color: #999;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 25px;
}
.social-icons a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
.social-icons a i {
  font-size: 15px;
  color: #000;
}
.social-icons a i:hover {
  color: #dcb14a;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.heart-icon a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  color: #000;
}
.heart-icon {
  position: relative;
}
.bag-icon {
  position: relative;
}
.bag-icon a {
  text-decoration-line: none;
  color: #000;
}
.heart-icon::after {
  content: "3";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #dcb14a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 16px;
  top: 16px;
}
.heart-icon:hover::after {
  color: #fff;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.bag-icon::after {
  content: "3";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #dcb14a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 16px;
  top: 16px;
}
.bag-icon:hover::after {
  color: #fff;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .user-icon {
    opacity: 0;
  }
}
.link-nav {
  position: relative;
}

.link-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 57px;
  width: 240px;
  height: 500px;
  background: #fff;
  border: 1px solid #999;
  color: #999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  z-index: 10;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.link-nav:hover ul {
  opacity: 1;
  visibility: visible;
}

.link-nav ul li:hover {
  color: #000;
}

.link-nav::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 20px;
  top: 50px;
  box-shadow: 0px 0px 10px #999;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.link-nav:hover::after {
  opacity: 1;
  visibility: visible;
}
.shop-drowb {
  position: relative;
}
/* End header in page 2 */
.containar-page2 {
  overflow: hidden;
}
.home {
  background: #f4f5f7;
  width: 100%;
  height: calc(100vh + 100px);
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home::selection {
}
.container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}
.home-content {
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  animation: content 1s ease-in-out;
  -webkit-animation: content 1s ease-in-out;
  left: 5%;
}
@keyframes content {
  0% {
    opacity: 0;
    transform: translateX(-380px);
    -webkit-transform: translateX(-380px);
    -moz-transform: translateX(-380px);
    -ms-transform: translateX(-380px);
    -o-transform: translateX(-380px);
  }
  100% {
    opacity: 1;
    transform: translateX(-90px);
    -webkit-transform: translateX(-90px);
    -moz-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    -o-transform: translateX(-90px);
  }
}
.home-content h4 {
  width: 150px;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: #999;
  font-weight: 300;
  font-size: 23px;
  transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
}
.home-content h4::before {
  content: " ";
  width: 2px;
  height: 108px;
  background: #999;
  display: block;
  position: absolute;
  left: -20px;
}
.home-content h1 {
  font-size: 3.5em;
  font-weight: 600;
}
.btn-line a {
  font-size: 20px;
  color: #000;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
.btn-line a:hover {
  color: #dcb14a;
}
.btn-line a:hover i {
  color: #dcb14a;
}
.shap-image {
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-component {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.shap-image .shap {
  width: 400px;
  height: 400px;
  position: absolute;
  background: #e3eaea;
  border-radius: 50%;
  right: 7%;
  animation: shap 1s ease-in-out;
  -webkit-animation: shap 1s ease-in-out;
}
@keyframes shap {
  0% {
    opacity: 0;
    transform: translateX(550px);
    -webkit-transform: translateX(550px);
    -moz-transform: translateX(550px);
    -ms-transform: translateX(550px);
    -o-transform: translateX(550px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.shap-image .img {
  transform: translateY(90px);
  -webkit-transform: translateY(90px);
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  -o-transform: translateY(90px);
  animation: img 1s ease-in-out;
  -webkit-animation: img 1s ease-in-out;
  position: absolute;
  right: 6%;
}
@keyframes img {
  0% {
    opacity: 0;
    transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(110px);
    -webkit-transform: translateY(110px);
    -moz-transform: translateY(110px);
    -ms-transform: translateY(110px);
    -o-transform: translateY(110px);
  }
}
.shap-image .img img {
  width: 300px;
}
.arrow-icon-left {
  position: absolute;
  left: 1%;
}
.arrow-icon-left i {
  font-size: 50px;
  cursor: pointer;
}
.arrow-icon-right i {
  font-size: 50px;
  cursor: pointer;
}
.arrow-icon-right {
  position: absolute;
  right: 1%;
}
.image2 {
  display: none;
}
.texth1 {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home {
    height: 100vh;
  }
  .shap-image {
    display: none;
  }
  .home-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@media (max-width: 767px) {
  .home {
    height: 100vh;
  }
  .shap-image {
    display: none;
  }
  .home-content {
    width: 80%;
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
  }
  .home-component {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .arrow-icon-left i {
    font-size: 40px;
    cursor: pointer;
  }
  .arrow-icon-left {
    position: absolute;
    left: 1%;
  }
  .arrow-icon-right i {
    font-size: 40px;
    cursor: pointer;
  }
  .arrow-icon-right {
    position: absolute;
    right: 1%;
  }
  .home-content h1 {
    font-size: 2em;
  }
}
.min-home {
  width: 100%;
}
.items {
  margin: -100px 0;
  width: 100%;
  height: 450px;
  background: #fff;
}
.item-card {
  width: 50%;
  height: 400px;
  position: relative;
  margin-left: 10px;
  overflow: hidden;
}
.item-card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.item-card:hover .item-btn a {
  color: #999;
}
.item-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  top: 15%;
  left: 10%;
}
.item-content a {
  color: #000;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
.item-text a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.item-text a:hover {
  color: #dcb14a;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .items {
    margin: 15px 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .item-card {
    width: 100%;
    height: 400px;
    position: relative;
    margin-left: 65px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .items {
    margin: 15px 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .item-card {
    width: 100%;
    height: 400px;
    position: relative;
    margin-left: 0;
    overflow: hidden;
  }
  .item-card img {
    width: 115%;
    height: 80%;
  }
}
.sho-cards {
  padding: 40px 100px;
}
.shop-card-3 {
  width: 100%;
  height: 365px;
  background: #fff;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: hidden;
}
.shop-items {
  width: 25%;
  height: 340px;
  flex-shrink: 0;
}
/* End in page 2 */
/* Start in page 3 */
.container-page3::selection {
  background: transparent;
  color: #000;
}
.container-page3 .header-page2 {
  padding: 40px 100px !important;
}
.hero-3 {
  margin-top: 100px;
  width: 100%;
  height: 250px;
  background-color: #f4f5f7;
  display: flex;
}
@media (max-width: 767px) {
  .hero-3 {
    width: calc(100% + 50px);
  }
}
.hero-page3 {
  padding: 0 150px;
}
.hero-content {
  width: 100%;
}
.content-link p span {
  color: #999;
}
.content-link p a {
  color: #000;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  position: relative;
}
.content-link p {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-3 {
    width: calc(100% + 10px);
  }
  .hero-page3 {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .hero-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .content-link {
    width: 150px !important;
  }
}
.content-link p a:hover {
  color: #dcb14a;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}
.content-link p a:hover::before {
  content: " ";
  position: absolute;
  bottom: 1%;
  width: 100%;
  height: 1px;
  background: #dcb14a;
  animation: line-home 0.2s linear;
  -webkit-animation: line-home 0.2s linear;
}
@keyframes line-home {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.position-absolute {
  top: 5% !important;
  left: 5% !important;
}
.cards-container {
  padding: 0 150px;
}
.card-img {
  cursor: pointer;
  overflow: hidden;
}
.box:hover img {
  transform: scale(1.1);
}
.box:hover .card-body h5 a {
  color: #999;
}
.box:hover .card-body h6 a {
  color: #dcb14a;
}

.box .card-body a {
  color: #000;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  line-height: 1em;
  cursor: pointer;
}
.box .card-body h5 a:hover {
  color: #dcb14a;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cards-container {
    padding: 0 10px;
  }
  .box .card-body a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .hero-cards {
    padding: 0;
  }
  .cards-container {
    padding: 0;
    transform: translateX(22px);
    -webkit-transform: translateX(22px);
    -moz-transform: translateX(22px);
    -ms-transform: translateX(22px);
    -o-transform: translateX(22px);
  }
  .storBy-Nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}
.Nav-content h6 a {
  color: #000;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
.Nav-icons {
  position: relative;
}
.Nav-Points::after {
  content: " ";
  position: absolute;
  right: 40%;
  width: 1px;
  height: 80%;
  background: #000;
}
@media (max-width: 767px) {
  .Nav-Points::after {
    display: none;
  }
  .Nav-Filter {
    margin-top: 8px;
    margin-left: 10px;
  }
}
.Nav-Filter h6 {
  cursor: pointer;
}
.Nav-Filter h6:hover {
  color: #dcb14a;
}
.story-container {
  padding: 0 150px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .story-container {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .story-container {
    padding: 35px;
  }
  .storBy-Cards {
    padding-left: 3rem !important;
  }
}
.Card-content a {
  text-decoration-line: none;
  color: #000;
  -moz-text-decoration-line: none;
}
.Card-content h5 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  font-family: var(--font-ro);
}
.Card-content h5:first-of-type a:hover {
  color: #dcb14a;
}
.Card-content .a2 {
  color: #999;
}
.storBy-icons ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.storBy-icons ul a {
  color: #000;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.storBy-icons ul li:hover a {
  color: #dcb14a;
}
.storBy-icons ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stor-img {
  position: relative;
  overflow: hidden;
}
.storBy-icons {
  position: absolute;
  top: 35%;
  left: 5%;
}
.storBy-icons ul {
  display: flex;
  gap: 30px;
}
.storBy-icons ul li {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease-in;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.storBy-icons ul li:nth-child(1) {
  transition-delay: 0s;
}
.storBy-icons ul li:nth-child(2) {
  transition-delay: 0.15s;
}
.storBy-icons ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.stor-img:hover img {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
.stor-img:hover .storBy-icons ul li {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.sale {
  position: relative;
}
.sale-14::after {
  content: "-14%";
  position: absolute;
  width: 60px;
  height: 30px;
  background: #e55f06;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.out-of-stock::after {
  content: "Out of stock";
  position: absolute;
  width: 100px;
  height: 30px;
  background: #000000;
  color: #fff;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-page3 {
  background: #f4f5f7;
}
.container-footer {
  padding: 0 150px;
}
.Address {
  line-height: 2.5em;
}
.Address a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  color: #000;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.Address a:hover {
  color: #dcb14a;
}
.address-content h6 {
  font-weight: 400;
  letter-spacing: 1px;
}
.info-content h6 {
  font-weight: 400;
  letter-spacing: 1px;
}
.fo-ico-soci i {
  font-size: 20px;
}
.info a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  color: #000;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.info a:hover {
  color: #dcb14a;
}
.About-content h6 {
  font-weight: 400;
  letter-spacing: 1px;
}
.About-content a {
  color: #000;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.About-content a:hover {
  color: #dcb14a;
}
.Footer-search input {
  background: transparent;
}
.Footer-search {
  border-bottom: 1px solid #000;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.Footer-search:hover {
  border-bottom: 1px solid #dcb14a;
}
.News-nav h6 {
  font-weight: 400;
  letter-spacing: 1px;
}
.News-nav a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  color: #000;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.News-nav a:hover {
  color: #dcb14a;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container-footer {
    padding: 0 20px;
  }
  .footer-page3 h6 {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  .footer-page3 {
    width: calc(100% + 50px);
  }
  .footer-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    gap: 30px !important;
    align-items: flex-start !important;
  }
  .container-footer {
    padding: 0 10px;
  }
}
/* End in page 3 */
.scroll-shop {
  padding-top: 100px;
}
.shop-nav-pageTow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navPar-pageTow h3 {
  cursor: pointer;
  font-size: 1.2rem;
}
.active-linkTow {
  color: #999;
}
.navPar-pageTow span:last-child {
  opacity: 0;
}
.shop-items-pageTow {
  padding: 40px 10px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: hidden;
}
.item-image-pageTow {
  position: relative;
  width: 310px;
}
.item-image-pageTow img {
  width: 100%;
}
.item-image-pageTow .icons-pageTow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.icons-pageTow a {
  width: 60px;
  height: 60px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  opacity: 0;
}
.icons-pageTow a:hover {
  background: #dcb14a;
  color: #fff;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.icons-pageTow a i {
  font-size: 1.5rem;
}
.item-image-pageTow:hover .icons-pageTow a:nth-child(1) {
  animation: icons-pageTow1 0.5s linear forwards;
}
.item-image-pageTow:hover .icons-pageTow a:nth-child(2) {
  animation: icons-pageTow2 0.7s linear forwards;
}
.item-image-pageTow:hover .icons-pageTow a:nth-child(3) {
  animation: icons-pageTow3 0.9s linear forwards;
}

@keyframes icons-pageTow1 {
  0% {
    opacity: 0;
    bottom: -10px;
    left: 25%;
  }
  100% {
    opacity: 1;
    bottom: 50%;
    left: 25%;
  }
}
@keyframes icons-pageTow2 {
  0% {
    opacity: 0;
    bottom: -10px;
    left: 50%;
  }
  100% {
    opacity: 1;
    bottom: 50%;
    left: 50%;
  }
}
@keyframes icons-pageTow3 {
  0% {
    opacity: 0;
    bottom: -10px;
    left: 75%;
  }
  100% {
    opacity: 1;
    bottom: 50%;
    left: 75%;
  }
}
.item-content-pageTow {
  width: 300px;
}
.item-content-pageTow h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin: 8px 0;
  cursor: pointer;
  text-align: center;
}
.price-pageTow {
  display: flex;
  justify-content: center;
}
.price-pageTow span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #999;
  margin: 8px 0;
  cursor: pointer;
  text-align: center;
}
.shop-pageTow {
  position: relative;
}
.btn-left {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.btn-right {
  position: absolute;
  top: 40%;
  right: 0;
  z-index: 2;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.navPar-pageTow {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .scroll-shop {
    padding-top: 20px;
  }
  .shop-nav-pageTow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navPar-pageTow {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .navPar-pageTow h3 {
    font-size: 1rem;
  }
  .shop-items-pageTow {
    padding: 20px 0;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-y: hidden;
  }
  .btn-left {
    top: 45%;
  }
  .btn-right {
    top: 45%;
  }
}
@media (max-width: 767px) {
  .btn-left {
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  }
  .btn-right {
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  }
}
.offer {
  background-image: url(https://htmldemo.net/helendo/helendo/assets/images/bg/banner_large.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offer-content {
  padding: 0 100px;
  line-height: 2.5;
}
.offer-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  margin: 8px 0;
}
.offer-content h1 span {
  color: rgb(255, 0, 0);
}
.offer-content h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin: 8px 0;
}
